.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: center;
    gap: 120px;
    padding-top: 80px;
}
.container {
    max-width: 1280px;
    margin: 0px auto;
}
.text-primary {
    color: #E55473;
}

.banner-tittle {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 708px;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
    max-width: 634px;
    margin-bottom: 0;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 52px;
    border: 0;
}

.banner .profile-picture {
    width: 635px;

}

.section-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
    margin-bottom: 0;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 580px;

}

.main-part {
    justify-content: center;
}

.main {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hot-deal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.another-content {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.featured1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-right: 78px;
    padding-left: 76px;
    padding-top: 110px;
    padding-bottom: 0px;

}

.featured2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-right: 47px;
    padding-left: 47px;
    padding-top: 117px;
    padding-bottom: 0px;
}

.featured3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-right: 75x;
    padding-left: 55px;
    padding-top: 110px;
    padding-bottom: 0;
}

.caption1 {
    display: block;
}

.caption2 {
    display: block;
}

.caption3 {
    display: block;
}

.figcaption {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-bottom: 128px;
}

.featured-image {
    width: 370px;
    height: 370px;
}

.contact {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
    /* margin-left: 400px;
    margin-right: 400px; */
}

.optional {
    margin-top: 86px;
    padding: 80px;
}

.figcaption1 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 87px;
    padding-right: 150px;
    margin-top: 10px;
}

.main-picture {
    width: 318px;
}

#sign-up {
    text-align: center;
    margin-top: 32px;
}

.social-links-more {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.email {
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 121px;
    width: 80%;
    border: 0;
    margin: auto;
}

#email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 400;
    padding-left: 30px;
}

.contact1 {
    display: flex;
    padding-bottom: 150px;
}

.footer {
    background: #111010;


}

.footer-tittle {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    padding-top: 128px;
}

.span-style {
    color: #FFFFFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 0;

}

.footer-final {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    padding-bottom: 128px;
}